<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">View Details</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each_with_index do |author, index| %>
      <tr>
        <td><%= index + 1 + (params[:page].to_i - 1) * 10 %></td>
        <td><%= author.name %></td>
        <td><%= link_to "View Details", author, class: "btn btn-primary" %></td>
        <td><%= link_to "Edit", edit_author_path(author), class: "btn btn-secondary" %></td>
        <td><%= button_to "Delete", author, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New author", new_author_path, class: "btn btn-primary" %>


