<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= @author.name %> </br>
  <%= @author.date_of_birth %> </br>
  <%= @author.country_of_origin %> </br>
  <%= @author.short_description %> </br>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete, class: "btn btn-danger" %>
</div>
