<p style="color: green"><%= notice %></p>

<h1 style="margin-left: 10px">Books</h1>

<%= link_to "New book", new_book_path, class: "btn btn-success" %>

<% if ENV['ELASTICSEARCH_URL'].present? %>
  <%= form_tag(books_path, method: :get) do %>
    <%= text_field_tag :search_query, params[:search_query], placeholder: "Search books with the search engine ElasticSearch ...", class: "form-control" %>
    <%= submit_tag 'Search with ElasticSeach', class: "btn btn-primary mt-2" %>
  <% end %>
<% end %>

<div id="books" class="row" style="margin-left: 10px; margin-top: 5px">
  <% @books.each_with_index do |book, index| %>
    <div class="col-md-3 mb-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title"><%= index + 1 + (params[:page].to_i - 1) * 10 %>. <%= book.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= link_to book.author.name, book.author %></h6>
          <p class="card-text"><%= book.summary %></p>
          <div>
            <%= link_to "View Details", book, class: "btn btn-primary" %>
            <%= link_to "Edit", edit_book_path(book), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination">
  <% if params[:page].to_i > 1 %>
    <% if params[:search_query].present? %>
      <%= link_to "Previous", books_path(page: params[:page].to_i - 1, search_query: params[:search_query]), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Previous", books_path(page: params[:page].to_i - 1), class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if @total_books && @total_books > params[:page].to_i * 10 %>
    <% if params[:search_query].present? %>
      <%= link_to "Next", books_path(page: params[:page].to_i + 1, search_query: params[:search_query]), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Next", books_path(page: params[:page].to_i + 1), class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<style>
#books {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  flex: 0 0 25%;
}

.card {
  margin-bottom: 1rem;
}
</style>
