<div class="container mt-5">
  <h1 class="mb-4">Top 50 Selling Books of All Time</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Date of Publication</th>
        <th scope="col">Total Sales</th>
        <th scope="col">Total Sales (Author)</th>
        <th scope="col">Top 5 in Year of Publication</th>
      </tr>
    </thead>
    <tbody>
      <% @top_books.each_with_index do |book, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= book[:title] %></td>
          <td><%= book[:author_name] %></td>
          <td><%= book[:date_of_publication]%></td>
          <td><%= book[:total_sales] %></td>
          <td><%= book[:total_author_sales] %></td>
          <td><%= book[:top_5_in_year] ? 'Yes' : 'No' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
