<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= review.book.title %> |
      <%= review.score %> ⭐ |
      <%= review.upvote ? "👍" : "👎" %>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>

<%= link_to "New review", new_review_path, class:"btn btn-primary" %>
